.professor-site {
    text-align: left;
    padding: 10px;
    background-color: #E0F7F0;
    height: 100vh;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
}

.greyBox {
    background-color: #f0f0f0;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.centered-text {
    text-align: center;
}

.monospace-font {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;
}